
header{
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  margin: 0px;
  background-color: #FFE600;
}

.logo{
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: auto;
  height: auto;
  cursor: pointer;
}

.logo img{
  margin-top: 20px;
  width: 200px;
  height: 128px;
  padding: 0px;
}
